@font-face {
  font-family: "Google Sans";
  src: url("fonts/googlesans.woff2") format('woff2');
}

body {
    margin: 0;
    font-family: "Google Sans", sans-serif;
    background-image: url('imgs/img19.png');
    background-size: cover;
    background-position: center;
    filter: blur(55%);
    min-height: 100vh;
}

.taskbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
  box-sizing: border-box;
}

.taskbar .logo-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.taskbar img {
  height: 40px;
  margin-right: 32px;
}

.taskbar .title {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-family: "Google Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.taskbar nav {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.taskbar nav button {
  text-decoration: none;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Google Sans", sans-serif;
  font-weight: 550;
  font-style: normal;
  overflow: auto;
  display: flex;
  margin: auto;
  white-space: pre;
  overflow: auto;
  display: flex;
  margin: auto;
  max-width: 100px;
  max-height: 50px;
  padding: 10px 20px;
  border-radius: 8px;
  margin-left: 10px;
}

.taskbar nav button:hover {
  color: #077026;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.content h1 {
  color: #fff;
  font-size: 3em;
  margin-bottom: 20px;
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin: auto;
  color: #fff;
  max-width: 600px;
  max-height: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.card:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
}

.card a {
  text-decoration: underline;
  color: #fff;
  transition: color 0.3s ease;
}

.card a:hover {
  color: #077026;
}
