@font-face {
  font-family: "Segoe UI Variable";
  src: url("fonts/SegUIVar.woff2") format('woff2');
}

body {
    margin: 0;
    font-family: "Segoe UI Variable", sans-serif;
    background-image: url('imgs/img19.png');
    background-size: cover;
    background-position: center;
    filter: blur(55%);
    min-height: 100vh; /* Set minimum height to allow scrolling */
}

.taskbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
  box-sizing: border-box;
}

.taskbar .logo-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.taskbar img {
  height: 40px;
  margin-right: 32px;
}

.taskbar .title {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-family: "Google Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.taskbar nav {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.taskbar nav button {
  text-decoration: none;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Google Sans", sans-serif;
  font-weight: 550;
  font-style: normal;
  overflow: auto;
  display: flex;
  margin: auto;
  white-space: pre;
  overflow: auto;
  display: flex;
  margin: auto;
  max-width: 100px;
  max-height: 50px;
  padding: 10px 20px;
  border-radius: 8px;
  margin-left: 10px;
}
.taskbar nav button:hover {
  color: rgba(255, 255, 255, 0.2);
  color: #077026;
}
.square {
  display: flex;
  padding: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(133deg, rgba(2,0,36,0.2) 0%, rgba(9,9,121,0.5) 45%, rgba(0,212,255,0.2) 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0.1, 0.1, 0.2, 0.2);
  max-width: 600px;
  max-height: 300px;
  text-align: center;
}
.square h1 {
   color: white;
}
.square p {
   color: white;
   font-family: 'Google Sans';
   font-weight: 300;
   font-style: normal;
}
.square h3 {
   color: white;
   font-family: 'Google Sans';
}
